<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Web storage</title>
</head>
<body>

<!--<div th:if="${message}">-->
    <!--<h2 th:text="${message}"/>-->
<!--</div>-->
<form method="post" enctype="multipart/form-data">
    <div>
        <label for="pathFile">Choose file to upload</label>
        <input type="file" id="pathFile" name="file"/>
    </div>
    <div>
        <button class="ActionUploadFile">Upload</button>
    </div>
</form>
<!--<div>-->
    <!--<ul>-->
        <!--<li th:each="file : ${files}">-->
            <!--<a th:href="${file}" th:text="${file}" />-->
        <!--</li>-->
    <!--</ul>-->
<!--</div>-->

<script type="text/javascript"
        src="/static/js/storage.js"></script>
</body>
</html>
